h1,h2,h3,h4,li,p,{
  font-family: "Roboto",sans-serif;
}


h3, h1{
  color:#D4A190;
  font-weight:bold;
}

h4 {
  text-align:center;
  color:white;
  font-weight:bold;
}

table {
  width: 100%;
}

td {
  background-color:#77925e;
  text-align: center;
}
